/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea{overflow:auto}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:60%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}
*{font-size:inherit;line-height:inherit;margin:0;padding:0}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font:16px/1.5 sans-serif;text-rendering:optimizeLegibility}
a{text-decoration:none}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;min-height:1.5em}
code,kbd,pre,samp{font-family:monospace,monospace}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}



/* Fade-in ALL the things */
body{
  animation: fadein 0.25s ease-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  ::-webkit-scrollbar { width: 10px; }
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }
  ::-webkit-scrollbar-track {
    border: none;
    background-color: var(--secondary);
  }


.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading ul,
.wf-loading a,
.wf-loading hr,
.wf-loading use {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: opacity ease-in-out 0.5s !important;
}
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active ul,
.wf-active a,
.wf-active hr,
.wf-active use
.wf-inactive h1,
.wf-inactive h2,
.wf-inactive h3,
.wf-inactive h4,
.wf-inactive h5,
.wf-inactive h6,
.wf-inactive p,
.wf-inactive ul,
.wf-inactive a,
.wf-inactive hr,
.wf-inactive use {
  opacity: 1 !important;
  transition: opacity ease-in-out 0.5s !important;
}



/* GRID BASE & VARIABLES */
:root{
	--primary: rgb(30, 30, 30);
  --secondary: rgb(170, 170, 170);
	--bg: rgb(250, 250, 250);
  --red: rgb(202, 40, 27);
	--gutter: 10;
	--columns: 8;
}
main {
  background: var(--bg) !important;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 3;
}
.container {
  width: 100%;
  margin: 0 calc(var(--gutter) * .15em);
  padding: calc(var(--gutter) * .3em) 0;
}
.container-alt {
  width: 100%;
  margin: 0;
  padding: calc(var(--gutter) * .3em) 0 0;
  --columns: 9;
}
  @media (min-width: 900px ) {
    .container {
      padding-left: calc(var(--gutter) * 0.5em);
      padding-right: calc(var(--gutter) * 0.5em);
    }
  }
  @media (min-width: 1400px ) {
    .container {
      padding-left: calc(var(--gutter) * 1em);
      padding-right: calc(var(--gutter) * 1em);
    }
  }
.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}



/* GRIDLET CLASS */
[class^="gridlet__"] {
	padding-right: calc(var(--gutter) * .1em);
	padding-left: calc(var(--gutter) * .1em);
	flex-basis: calc((100% / var(--columns)) * var(--width));
}



/* GRID SIZING */
.gridlet__s--1 { --width: 1; }
.gridlet__s--2 { --width: 2; }
.gridlet__s--3 { --width: 3; }
.gridlet__s--4 { --width: 4; }
.gridlet__s--5 { --width: 5; }
.gridlet__s--6 { --width: 6; }
.gridlet__s--7 { --width: 7; }
.gridlet__s--full { --width: var(--columns); max-width: 100%; }
@media (min-width: 900px ) {
  .gridlet__m--1 { --width: 1; }
  .gridlet__m--2 { --width: 2; }
  .gridlet__m--3 { --width: 3; }
  .gridlet__m--4 { --width: 4; }
  .gridlet__m--5 { --width: 5; }
  .gridlet__m--6 { --width: 6; }
  .gridlet__m--7 { --width: 7; }
  .gridlet__m--full { --width: var(--columns); max-width: 100%; }
}
@media (min-width: 1400px ) {
	.gridlet__l--1 { --width: 1; }
	.gridlet__l--2 { --width: 2; }
	.gridlet__l--3 { --width: 3; }
	.gridlet__l--4 { --width: 4; }
	.gridlet__l--5 { --width: 5; }
	.gridlet__l--6 { --width: 6; }
	.gridlet__l--7 { --width: 7; }
	.gridlet__l--full { --width: var(--columns); max-width: 100%; }
}



/* TYPOGRAPHY */
html {
  font-size: calc(0.625em + 1vw) !important;
  line-height: 1.5 !important;
}

p,
ul,
ol,
dl,
blockquote,
pre
h1,
h2,
h3,
h4{
  margin-top:0;
  margin-bottom: 0.8rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1 { font-size: 400%; }
h2 { font-size: 300%; }
h3 { font-size: 250%; }
h4 { font-size: 200%; }
h5 { font-size: 150%; }
h6 { font-size: 100%; }

pre, code {
  font-family: "inconsolata", monospace;
  background: var(--primary);
  color: var(--bg);
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}
  pre {
    margin: 1.25em 0 !important;
    display: inline-block;
    text-align: left;
  }
  code {
    padding: 0.1em 0.125em 0.15em 0.25em !important;
    margin-bottom: 0 !important;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
  }
    pre > code {
      background: none;
    }
em { font-style: italic; }
strong {
  font-weight: 600;
}
figcaption {
  line-height: calc(1.5 * .6) !important;
}
sup, sub {
  font-size: 60%;
  letter-spacing: 0.05rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  sup {
    position: relative;
    top: -0.5em;
    left: 0;
  }
a:link, a:visited {
	color: var(--primary);
  transition: all ease-in-out 0.15s !important;
  text-decoration: underline;
  font-weight: 600;
}
  footer a:link, footer a:visited {
    color: var(--secondary);
  }
  a:hover, a:focus, a:active, footer a:hover, footer a:focus, footer a:active {
    opacity: 0.5 !important;
  }
hr {
  border: 0;
  height: 5px;
  background-color: var(--primary);
  margin-bottom: 1rem;
	display: block;
  width: 100%;
}
  footer hr {
    background-color: var(--bg);
  }
kbd {
  padding: 0.125rem 0.5rem 0.25rem 0.5rem;
  border: 1px solid rgb(148, 156, 168);
  border-radius: 0.25rem;
  box-shadow: inset 0 -2px 0px 2px rgba(0, 0, 0, 0.25);
}



/* QUOTES */
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  font-family: Georgia, serif;
  font-size: 125%;
  font-style: italic;
}
blockquote p, blockquote cite {
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}



/* LISTS */
ul {
  list-style: none inside;
}
ol {
  list-style: none inside;
  list-style-type: decimal-leading-zero;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.75rem 0 1.75rem 3rem;
  font-size: 90%;
}
  li {
    break-inside: avoid;
  }
  ol li, ul li {
    text-decoration: underline;
  }



/* TABLES */
table {
  width: 100%;
  border-collapse: collapse;
}
  th {
    color: var(--secondary);
  }
    tr {
      border-bottom: 1px dotted var(--secondary);
    }
  th, td {
    padding: 0.8rem 0 0;
    text-align: left;
  }



/* FORMS */
input,
textarea,
select {
  font-family: 'acumin-pro', sans-serif;
  padding: calc(var(--gutter) * .0375em) calc(var(--gutter) * .075em);
  font-size: 1em;
  color: var(--primary);
  width: 100%;
  display: block;
  border: 2px solid var(--secondary);
  margin-bottom: 1em;
  margin-top: 0.25em;
}
  label {
    width: 100%;
    display: block;
  }
input:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--primary);
  outline: none;
}
button, input[type=submit] {
  background: var(--primary) !important;
  color: var(--bg) !important;
  border: none;
  display: inline !important;
  padding: 0.25em 0.75em;
}
  button, input[type=submit]:hover {
    background: var(--secondary);
    cursor: pointer;
  }



/* MAIN SHIT */
body{
  font-family: 'acumin-pro', sans-serif;
	background-color: var(--bg);
  color: var(--primary);
}
footer {
  background: var(--primary);
  padding-bottom: calc(var(--gutter) * .3em) !important;
  width: 100%;
  position: fixed;
  z-index: -3;
  bottom: 0 !important;
}
  footer * {
    color: var(--bg);
  }
  .content {
    background: var(--bg);
    z-index: 2;
    /*position: relative;*/
    padding-bottom: calc(var(--gutter) * .6em);
  }



/* Skip to main content (required for ARIA pass) */
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}



/* Parallax bullshit */
.cover {
  background: color: var(--bg);
  color: var(--bg);
  width: 100%;
  height: 25em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  background-position: 50% 50%;
  background-size: cover !important;
  background-repeat: none;
}
  .cover:not(:first-of-type) {
    margin-top: calc(var(--gutter) * .3em);
  }
.parallax {
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  z-index: 10 !important;
}



/* Images and pictures */
img, img[class] {
  width: 100%;
}
picture {
	display: inline-block;
	padding-bottom: 62.5%;
	position: relative;
	width: 100%;
}
  picture img {
  	object-fit: cover !important;
  	display: block;
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0;
  }
figure {
  margin-bottom: calc(var(--gutter) * .15em);
}



/* UTILITIES */
.hide { display: none; visibility: hidden; }
  @media screen and (min-width: 900px) {
    .hide { display: flex; visibility: visible; }
  }
.hide-large { display: inherit; visibility: visible; }
  @media screen and (min-width: 900px) {
    .hide-large { display: none; visibility: hidden; }
  }
.lightenup { opacity: 0.25 !important; }
.topless { margin-top: 0 !important; }
.bottomless { margin-bottom: 0 !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }



/* DEMO STYLES FOR GRIDLET PIECES */
.demo {
	display: block;
	padding-top: 0.75em;
	background-color: var(--secondary);
  color: var(--bg);
  text-align: center;
	border: 1px solid var(--bg);
}
.plus {
  color: var(--red);
  position: relative;
  bottom: 0.0625em;
  left: -0.125em;
}
