@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');



/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea{overflow:auto}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:60%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}
*{font-size:inherit;line-height:inherit;margin:0;padding:0}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font:16px/1.5 sans-serif;text-rendering:optimizeLegibility}
a{text-decoration:none}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;min-height:1.5em}
code,kbd,pre,samp{font-family:monospace,monospace}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}



/* GRID BASE & VARIABLES */
:root{
	--white: rgb(229, 231, 222);
  --grey: rgb(11, 53, 54);
	--bg: rgb(245, 65, 35);
	--gutter: 10;
	--columns: 8;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 calc(var(--gutter) * .15em) calc(var(--gutter) * .15em);
}
[class*="m--"]{
	padding-right: calc(var(--gutter) * .075em);
	padding-left: calc(var(--gutter) * .075em);
	flex-basis: calc((100% / var(--columns)) * var(--width));
}



/* GRID SIZING */
.m--1 { --width: 1; }
.m--2 { --width: 2; }
.m--3 { --width: 3; }
.m--4 { --width: 4; }
.m--5 { --width: 5; }
.m--6 { --width: 6; }
.m--full { --width: var(--columns); }
@media (min-width: 900px ) {
	.l--1 { --width: 1; }
	.l--2 { --width: 2; }
	.l--3 { --width: 3; }
	.l--4 { --width: 4; }
	.l--5 { --width: 5; }
	.l--6 { --width: 6; }
	.l--full { --width: var(--columns); }
}



/* TYPOGRAPHY */
html {
  font-size: calc(0.625em + 1vw) !important;
  padding: 10vw 0vw !important;
  line-height: 1.5 !important;
}

p,
ul,
ol,
dl,
blockquote,
pre
h1,
h2,
h3,
h4{
  margin-top:0;
  margin-bottom: 0.8rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 { font-size: 400%; }
h2 { font-size: 300%; }
h3 { font-size: 250%; }
h4 { font-size: 200%; }
h5 { font-size: 150%; }
h6 { font-size: 100%; }

pre, code {
  font-family: "inconsolata", monospace;
  background: var(--grey);
  border-radius: 0.125rem;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}
  pre {
    padding: 1em 0.5rem;
    margin: 1.25rem 0 !important;
    display: block;
    text-align: left;
  }
  code {
    padding: 0.125rem 0.5rem !important;
    margin-bottom: 0 !important;
  }
    pre > code {
      background: none;
    }
em { font-style: italic; }
strong {
  font-weight: 500;
}
small {  }
sup, sub {
  font-size: 60%;
  letter-spacing: 0.05rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  sup {
    position: relative;
    top: -0.5em;
    left: 0;
  }
a:link, a:visited {
	color: var(--white);
  transition: all ease-in-out 0.15s !important;
  text-decoration: underline;
  font-weight: 700;
}
  a:hover, a:focus, a:active {
    opacity: 0.5;
  }
hr {
  border: 0;
  height: 5px;
  background-color: var(--white);
  margin-bottom: 0.5rem;
	display: block;
  width: 100%;
}
kbd {
  padding: 0.125rem 0.5rem 0.25rem 0.5rem;
  border: 1px solid rgb(148, 156, 168);
  border-radius: 0.25rem;
  box-shadow: inset 0 -2px 0px 2px rgba(0, 0, 0, 0.25);
}



/* QUOTES */
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  font-family: Georgia, serif;
  font-size: 125%;
  font-style: italic;
}
blockquote p, blockquote cite {
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}



/* LISTS */
ul {
  list-style: none inside;
}
ol {
  list-style: none inside;
  list-style-type: decimal-leading-zero;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.75rem 0 1.75rem 3rem;
  font-size: 90%;
}
  li {
    break-inside: avoid;
  }
  ol li {
    text-decoration: underline;
    padding-bottom: 0.5rem;
  }



/* TABLES */
table {
  width: 100%;
}
  th {
    color: var(--black);
  }
  th, td {
    padding: 0.8rem 0;
    text-align: left;
    border-bottom: 1px solid color(var(--black) tint(75%));
  }
    th:first-child, td:first-child {
      padding-left: 0;
    }
    th:last-child, td:last-child {
      padding-right: 0;
    }


body{
  font-family: 'Karla', sans-serif;
	background-color: var(--bg);
  color: var(--white);
}
*{
	box-sizing: border-box;
}
.demo{
	display: block;
	padding: 1em 0;
	background-color: var(--grey);
  text-align: center;
	margin-bottom: calc(var(--gutter) * .15em);
}



/* Skip to main content (required for ARIA pass) */
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}


/* Parallax bullshit */
.cover {
	position: relative;
  width: 100%;
  height: 31.8em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  z-index: -1;
	padding: calc(var(--gutter) * .15em);
  background: no-repeat 50% 50% / cover;
}



/* Images and pictures */
img, img[class] {
  width: 100%;
	background-color: var(--grey);
}



picture {
	display: inline-block;
	padding-bottom: 62.5%;
	position: relative;
	width: 100%;
}
  picture img {
  	object-fit: cover;
  	display: block;
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0;
  }



/* Noise on images */
.with-noise {
  position: relative;
  overflow: hidden;
}



/* OLD SCHOOL film grain */
.scratch--outer,
.scratch--inner {
  height: 100%;
  display: block;
}
.scratch--outer:after,
.scratch--inner:after {
  content: '';
  -webkit-animation: scratch 0.45s steps(1) alternate infinite;
          animation: scratch 0.45s steps(1) alternate infinite;
  background: url('https://dl.dropboxusercontent.com/u/26351585/my_assets/overlays/scratch.png') repeat center center;
  height: 100%;
  opacity: .08;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  padding-left: 100px;
  width: 120%;
}

.scratch--inner:after {
  -webkit-animation: inner-scratch 2s alternate infinite;
          animation: inner-scratch 2s alternate infinite;
}

.with-noise:after {
  -webkit-animation: oldgrain 0.5s steps(1) infinite;
          animation: oldgrain 0.5s steps(1) infinite;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/noise.png");
  content: " ";
  display: block;
  height: 300%;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 300%;
  opacity: 0.666;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}



/* Film Animations */
@-webkit-keyframes oldgrain {
  0%,
  100% {
    -webkit-transform: translate(0, 0, 0);
            transform: translate(0, 0, 0);
  }
  10% {
    -webkit-transform: translate(-1%, -1%);
            transform: translate(-1%, -1%);
  }
  20% {
    -webkit-transform: translate(1%, 1%);
            transform: translate(1%, 1%);
  }
  30% {
    -webkit-transform: translate(-2%, -2%);
            transform: translate(-2%, -2%);
  }
  40% {
    -webkit-transform: translate(3%, 3%);
            transform: translate(3%, 3%);
  }
  50% {
    -webkit-transform: translate(-3%, -3%);
            transform: translate(-3%, -3%);
  }
  60% {
    -webkit-transform: translate(4%, 4%);
            transform: translate(4%, 4%);
  }
  70% {
    -webkit-transform: translate(-4%, -4%);
            transform: translate(-4%, -4%);
  }
  80% {
    -webkit-transform: translate(2%, 2%);
            transform: translate(2%, 2%);
  }
  90% {
    -webkit-transform: translate(-3%, -3%);
            transform: translate(-3%, -3%);
  }
}
@keyframes oldgrain {
  0%,
  100% {
    -webkit-transform: translate(0, 0, 0);
            transform: translate(0, 0, 0);
  }
  10% {
    -webkit-transform: translate(-1%, -1%);
            transform: translate(-1%, -1%);
  }
  20% {
    -webkit-transform: translate(1%, 1%);
            transform: translate(1%, 1%);
  }
  30% {
    -webkit-transform: translate(-2%, -2%);
            transform: translate(-2%, -2%);
  }
  40% {
    -webkit-transform: translate(3%, 3%);
            transform: translate(3%, 3%);
  }
  50% {
    -webkit-transform: translate(-3%, -3%);
            transform: translate(-3%, -3%);
  }
  60% {
    -webkit-transform: translate(4%, 4%);
            transform: translate(4%, 4%);
  }
  70% {
    -webkit-transform: translate(-4%, -4%);
            transform: translate(-4%, -4%);
  }
  80% {
    -webkit-transform: translate(2%, 2%);
            transform: translate(2%, 2%);
  }
  90% {
    -webkit-transform: translate(-3%, -3%);
            transform: translate(-3%, -3%);
  }
}
@-webkit-keyframes scratch {
  0%,
  100% {
    opacity: 0.075;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  20% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  30% {
    opacity: 0.09;
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  40% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  50% {
    opacity: 0.05;
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  60% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  70% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  80% {
    opacity: 0.02;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  90% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}
@keyframes scratch {
  0%,
  100% {
    opacity: 0.075;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  20% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  30% {
    opacity: 0.09;
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  40% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  50% {
    opacity: 0.05;
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  60% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  70% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  80% {
    opacity: 0.02;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  90% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}
@-webkit-keyframes inner-scratch {
  0% {
    opacity: 0.08;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  20% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  30% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  40% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  50% {
    opacity: 0.06;
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  60% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  70% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  80% {
    opacity: 0.03;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  90% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}
@keyframes inner-scratch {
  0% {
    opacity: 0.08;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  20% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  30% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  40% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  50% {
    opacity: 0.06;
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  60% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  70% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  80% {
    opacity: 0.03;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  90% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}
@-webkit-keyframes draw {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@keyframes draw {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@-webkit-keyframes draw-bottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes draw-bottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
